<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Product page</title>
        <meta name="description" content="">
	      <meta name="author" content="">

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
          ================================================== -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/media-queries.css">
        <link rel="stylesheet" href="/css/magnific-popup.css">

        <!-- Script
        ================================================== -->
        <script src="/js/modernizr.js"></script>
        

        <!-- Favicons
        ================================================== -->
        


        <style>
          ul#nav{
            background: black;
          }
          header{
            min-height: 48px !important;
            height: 48px !important;
            background-image: none;
            height: unset;
          }
          .body{
            background-color: azure;
            line-height: 1.6 !important;

          }
        .container{
             margin-top:5%;
             margin-bottom: 5%;
    		  }
          .newarrival{
            background: green;
            width:50px;
            color: white;
            font-size: 12px;
            font-weight: bold;
          }
          .col-md-7 h2{
            color: #555;
          }
          .col-md-5 img{
            margin-right:50px;
            width:300px;
          }    
        </style>
    </head>
    

   

<body>
  <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="/">Home</a></li>
            <li><a class="smoothscroll" href="/">About</a></li>
            <li><a class="smoothscroll" href="/">Works</a></li>
            <li><a class="smoothscroll" href="/">Testimonials</a></li>
            <li><a class="smoothscroll" href="/">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

   </header> <!-- Header End -->


	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="<%=product.image%>">
			</div>
			<div class="col-md-7">
				<p class="newarrival text-center">NEW</p>
				<h2><%=product.name%></h2>
				<p>Product Code:ISRCew8161</p>
				<p><b>Availability:</b> In Stock</p>
				<p><b>Brand:</b><%=product.company%></p>
				<p><b>Condition:</b>New</p>
				<p><%=product.description%></p>
			</div>

		</div>
	</div>


<!-- footer
   ================================================== -->
   <footer style="background: black; margin-bottom: 0 !important;">

    <div class="row">

       <div class="twelve columns">

          <ul class="social-links">
             <li><a href="/"><i class="fa fa-facebook"></i></a></li>
             <li><a href="/"><i class="fa fa-twitter"></i></a></li>
             <li><a href="/"><i class="fa fa-google-plus"></i></a></li>
             <li><a href="/"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="/"><i class="fa fa-instagram"></i></a></li>
             <li><a href="/"><i class="fa fa-dribbble"></i></a></li>
             <li><a href="/"><i class="fa fa-skype"></i></a></li>
          </ul>

          <ul class="copyright">
             <li>&copy; Copyright 2019</li>
             <li>Design by <a title="HM" href="/">HM</a></li>   
          </ul>

       </div>

       <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

    </div>

 </footer> <!-- Footer End-->
 <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>

   <script src="/js/jquery.flexslider.js"></script>
   <script src="/js/waypoints.js"></script>
   <script src="/js/jquery.fittext.js"></script>
   <script src="/js/magnific-popup.js"></script>
   <script src="/js/main.js"></script>
 </body>
 </html>